@tailwind base;
@tailwind components;
@tailwind utilities;


.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
  }
   
  .box {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 65vh;
    margin-top: calc(100vh - 85vh + 20px);
    background: #fff;
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #999;
    overflow: auto;
    border-radius: 15px;
    z-index: 10;

  }
   
  .close-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    line-height: 20px;
    /* text-align: center; */
    font-size: 20px;
    margin-top: 8px;
    margin-right: 3px;
  }

.header{
    border-bottom: 1px solid rgb(200, 199, 199);
    padding-bottom: 5px;
}

  .popHeaderTitle{
    text-align: center;
    font-weight: 500;
  }

.middlePart{
    display: flex;
    gap:10px;
    align-items: center;;
    padding: 10px;
    border-bottom: 1px solid rgb(200, 199, 199);

}

.searchInput{
    padding: 5px;
    width:100%
}

.searchInput:focus{
    outline: none
}


.suggestedBlock{
    padding: 15px;
}

.suggestedBlockText{
    font-size: 14px;
    font-weight: 600;
}


.profileBlock{
    padding: 10px;
}


.profileBlock:hover{
  border: 1px solid #999;
  cursor: pointer;
}

.contentBlock{
  max-height: 47vh;
  overflow-y: scroll
}

.iconBlockStartNewConv:hover, .startMessagePopup:hover{
  cursor: pointer;
}



input[type="file"] {
  display: none;
}
.custom-file-upload {
  cursor: pointer;
}

.messageImage{
  object-fit: cover;
  cursor: pointer;
}

.pickedMessageImage{
  object-fit: contain;
  
}


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgba(250, 250, 250, 1);
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.container .col .box {
  width: 350px;
  height: 380px;
  border: 1px solid rgba(219, 219, 219, 1);
  background: white;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  z-index: 2;
}
.container .col .box .title {
  position: relative;
  top: 5px;
  text-align: center;
}
.container .col.content {
  position: relative;
  top: 12px;
}
.container .col .box .title img {
  width: 190px;
  height: 80px;
}
.container .col .box .login-form {
  position: relative;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .col .box .login-form .form-content {
  position: relative;
  margin: 5px 0;
  top: 22px;
}
.container .col .box .login-form label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;
  font-size: 12px;
  color: rgba(142, 142, 142, 1);
  pointer-events: none;
  order: -1;
  transition: 0.3s ease;
}
.container .col .box .login-form input {
  background: transparent;
  width: 270px;
  height: 40px;
  background: rgba(250, 250, 250, 1);
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
  padding: 9px 0 7px 8px;
  font-size: 14px;
  transition: 0.3s ease;
}
.container .col .box .login-form input:valid {
  padding-bottom: 0;
}
.container .col .box .login-form input:valid + label {
  transform: translateY(-16px);
  font-size: 10px;
}
.container .col .box .login-form button {
  width: 270px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgba(0, 149, 246, 0.7);
  color: white;
}

.container .col .box .login-form .form-ending {
  position: relative;
  width: 270px;
  margin-top: 20px;
  text-align: center;
}
.container .col .box .login-form .form-ending #OR {
  color: rgba(142, 142, 142, 1);
  background: white;
  text-align: center;
  width: 50px;
  margin: 15px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  z-index: 3;
  position: relative;
  display: block;
}
.container .col .box .login-form .form-ending #line {
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 22px;
  width: 270px;
  height: 1px;
  background: rgba(219, 219, 219, 1);
}
.container .col .box .login-form .form-ending p#facebook {
  color: #385185;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}
.container .col .box .login-form .form-ending p#facebook i {
  margin-right: 8px;
  font-size: 16px;
  position: relative;
  top: 1px;
}
.container .col .box .login-form .form-ending a {
  position: relative;
  top: 15px;
  text-decoration: none;
  color: rgba(0, 55, 107, 1);
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
/* mini box  */
.container .col .mini-box {
  width: 350px;
  height: 65px;
  background: white;
  border: 1px solid rgba(219, 219, 219, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .col .mini-box .text {
  font-size: 14px;
  color: rgba(38, 38, 38, 1);
}
.container .col .mini-box .text a {
  text-decoration: none;
  color: #0095f6;
  font-weight: 400;
}
.container .col .download-section {
  margin-top: 20px;
  width: 350px;
  height: 100px;
  text-align: center;
}
.container .col .download-section p {
  font-size: 14px;
  line-height: 18px;
}
.container .col .download-section .images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container .col .download-section .images img {
  width: 135px;
  height: 40px;
}
footer {
  padding: 30px 20px;
}
footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 35%;
  margin: 0 auto 20px;
}
footer ul li {
  font-size: 12px;
  line-height: 14px;
  list-style: none;
  color: rgba(142, 142, 142, 1);
  cursor: pointer;
}
footer .copyright {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer .copyright select {
  font-size: 12px;
  background: none;
  color: rgba(142, 142, 142, 1);
  border: none;
  cursor: pointer;
}
footer .copyright select option {
  width: 50px;
}
footer .copyright span {
  font-size: 12px;
  line-height: 14px;
  color: rgba(142, 142, 142, 1);
}
@media (max-width: 900px) {
  footer ul {
    width: 100%;
  }
}
@media (max-width: 850px) {
  #image {
    display: none;
  }
}

@media (max-width: 440px) {
  .container {
    min-height: 80vh;
  }
  .container .col .box,
  .container .col .mini-box {
    border: none;
    background-color: transparent;
  }
}



body {
  font-family: sans-serif;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container-register {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 14px;
}

.box-register {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  flex-grow: 1;
}

.heading {
  margin: 22px auto 12px;
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png");
  background-position: -98px 0;
  height: 51px;
  width: 177px;
  overflow: hidden;
}

.field {
  margin: 10px 0;
  position: relative;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;

}

.field input {
  padding: 9px 0px 7px 9px;
  font-size: 12px;
  width: 16rem;
  height: 1.2rem;
  outline: none;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid rgb(219, 216, 216);
  padding: 15px;
}

/* label intial position*/


/* hiding  placeholder in mozilla */
.login-form ::-moz-placeholder {
  color: transparent;
}



.login-button {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  margin-top: 6px;
}

.separator .line {
  height: 1px;
  width: 40%;
  background-color: #dbdbdb;
}

.other {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fb-login-btn {
  margin: 1rem;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  color: #385185;
  font-weight: 600;
  background: transparent;
}

.fb-icon {
  color: #385185;
  font-size: 1rem;
  padding-right: 1px;
}

.forgot-password {
  font-size: 11px;
  color: #003569;
}

.signup {
  color: #3897f0;
  font-weight: 600;
}

.imageDots{
  cursor: pointer;
}

.imageOption{
  cursor: pointer;
}

.imageOption:hover{
  background: rgba(55, 53, 53, 0.1);
  /* background: #000; */
}