@tailwind base;
@tailwind components;
@tailwind utilities;


.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
  }
   
  .box {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 65vh;
    margin-top: calc(100vh - 85vh + 20px);
    background: #fff;
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #999;
    overflow: auto;
    border-radius: 15px;
    z-index: 10;

  }
   
  .close-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    line-height: 20px;
    /* text-align: center; */
    font-size: 20px;
    margin-top: 8px;
    margin-right: 3px;
  }

.header{
    border-bottom: 1px solid rgb(200, 199, 199);
    padding-bottom: 5px;
}

  .popHeaderTitle{
    text-align: center;
    font-weight: 500;
  }

.middlePart{
    display: flex;
    gap:10px;
    align-items: center;;
    padding: 10px;
    border-bottom: 1px solid rgb(200, 199, 199);

}

.searchInput{
    padding: 5px;
    width:100%
}

.searchInput:focus{
    outline: none
}


.suggestedBlock{
    padding: 15px;
}

.suggestedBlockText{
    font-size: 14px;
    font-weight: 600;
}


.profileBlock{
    padding: 10px;
}


.profileBlock:hover{
  border: 1px solid #999;
  cursor: pointer;
}

.contentBlock{
  max-height: 47vh;
  overflow-y: scroll
}